$btn-color: #00BFCC;
$text-color: #070707;

.round {
    --border-radius: 50%;
    --vertical-align: middle;
    height: 60px;
    width: 60px;
    --ion-color-base: #088088;
    font-size: initial;
    font-size: 25px;
}

.class-headerimg {
  background-image: url("../../assets/bluebg.png")!important;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.back-marg{
  float: left;
  position: relative;
  top: 25%;
  padding: 10px;
  border-radius: 10px;
  background: #29c5c5;
}

.clear-marg{
  background: transparent;
  float: right;
  position: relative;
  top: 25%;
  padding: 10px;
  border-radius: 10px;
  background: #29c5c5;
}

.save-center{
  border-radius: 50%;
  background: #07aeba;
  font-size: 22px;
  color: #ffffff;
  height: 80px;
  width: 85px;
  border-radius: 50%;
}

.toggle-color{
    --ion-color-base: #00BFCC !important;
}

.label-pos{
  position: absolute;
  bottom: 15%;
}

.row-padd{
  padding: 1% 3%;
}

.error-message{
  position: absolute;
  left: 5%;
  color: red;
  font-size: 15px;
}

.title {
  font-size: 33px;
  font-weight: 500;
  padding-top: 10px;
  background: #00000000;
  color: #fff;
}

.tool2{
  --background:#FFFFFF00;
  --border-width : 0px !important;
}

.tool1{
  position: relative;
  top: 1%;
}

.srccroll{
  height: 200px;
  overflow: scroll;
  visibility: visible;
  z-index: 999;
  position: absolute;
  width: -webkit-fill-available;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.28);
      border-radius: 5px;
}

.srchgt{
    height: auto;
    overflow: hidden;
    visibility: visible ;
    z-index: 999;
    position: absolute;
    width: -webkit-fill-available;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.28);
    border-radius: 5px;
}

.lab-font{
  font-size: 25px;
}

.event-font{
  font-size: 16px;
}

.event-font-italic{
  font-size: 16px;
  color: #333;
  font-style: italic;
  margin: 0 2%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 4px;
  top: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $btn-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(30px);
}

.on
{
  display: none;
}

.off{
  padding-left:33px;
}

.on{
  padding-right: 25px;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 13px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

.slider.rnd {
  border-radius: 16px;
}

.slider.rnd:before {
    border-radius: 14px;
}

.marginTL10 {
  margin: 2% 3%;
}
  
.marginL15 {
  margin-left: 35px !important;
  margin-top: 0px !important;
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
  .lab-font{
    font-size: 13px;
  }
  .event-font{
    font-size: 13px;
  }
  
}
.validation-errors{
	font-size: 15px;
	color: red;
}
table >tbody > tr > td:nth-child(1){
  width: 45%;
  padding: 0% 0% 0% 5%;
  
}
table >tbody > tr > td:nth-child(2){
  width: 45%;  
}
table >tbody > tr > td:nth-child(3){
  width: 45%;  
}
// table >tbody > tr{
//   padding: 0% 5% 0% 5%;
// }
.rowtab{
  padding: 2% 5%;
}
ion-progress-bar{
  top: 10%;
}
.imgscan{
  top: -7%;
  font-size: 47px;
  position: relative;   
}
#bar {  
  height: 1.5rem; 
  width: 7.5rem;
}